@font-face 
    font-family: "Fraunces"
    src: url(../fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf)

@font-face 
    font-family: "Manrope"
    src: url(../fonts/manrope/Manrope-VariableFont_wght.ttf)

heading_L()
    font "Fraunces", sans-serif
    font-size: 80px
    line-height: 80px
    font-weight: 600

heading_M()
    font "Fraunces", sans-serif
    font-size: 56px
    line-height: 64px
    font-weight: 600

heading_M()
    font "Fraunces", sans-serif
    font-size: 32px
    line-height: 40px
    font-weight: 600

body_text()
    font "Manrope"
    font-size: 18px
    line-height: 32px

dark-purple = #24053E
davy-grey = #584D62
eucaplyptus = #44FFA1
ghost-white = #FCF8FF
white = #FFFFFF

