@font-face {
  font-family: 'Fraunces';
  src: url("../fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format('truetype');
}
@font-face {
  font-family: 'Manrope';
  src: url("../fonts/manrope/Manrope-VariableFont_wght.ttf") format('truetype');
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: #24053e;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#logo-container {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
  padding-top: 40px;
  margin-bottom: 70px;
  padding-left: 15px;
  padding-right: 15px;
}
#logo-container img {
  max-width: 95px;
}
#logo-container #login-btn {
  font-family: 'Manrope', sans-serif;
  font-size: clamp(16px, 1vw, 18px);
  line-height: 1.6;
  font-weight: 500;
  font-weight: bold;
  background-color: #24053e;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.5s;
  padding: 0;
  padding-bottom: 4px;
  border: none;
  border-bottom: 3px solid #44ffa1;
}
#logo-container #login-btn:hover {
  color: #44ffa1;
}
@media (min-width: 768px) {
  #logo-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 992) {
  #logo-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
#slogan {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#slogan h1 {
  font-family: 'Fraunces', sans-serif;
  font-size: clamp(36px, 9vw, 80px);
  line-height: 1;
  font-weight: 500;
  text-align: center;
  margin: 0;
  color: #fff;
}
#slogan h1 span {
  position: relative;
}
#slogan h1 span .underline {
  width: 100%;
  position: absolute;
  bottom: 0.6vw;
  left: 0;
  border-bottom: 3px solid #44ffa1;
}
#slogan #slogan-container {
  position: relative;
}
#slogan #slogan-container .bg-pattern {
  position: absolute;
}
@media (max-width: 576px) {
  #slogan #slogan-container .bg-pattern {
    opacity: 0;
  }
}
#slogan #slogan-container .pos1 {
  left: -30vw;
  top: -30%;
}
@media (min-width: 992px) {
  #slogan #slogan-container .pos1 {
    left: -10vw;
  }
}
@media (min-width: 1400px) {
  #slogan #slogan-container .pos1 {
    left: 10vw;
  }
}
#slogan #slogan-container .pos2 {
  right: -10vw;
  bottom: -110%;
}
@media (min-width: 992px) {
  #slogan #slogan-container .pos2 {
    right: 0;
  }
}
@media (min-width: 1400px) {
  #slogan #slogan-container .pos2 {
    right: 10vw;
  }
}
#slogan #learn-btn {
  font-family: 'Manrope', sans-serif;
  font-size: clamp(16px, 1vw, 18px);
  line-height: 1.6;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #44ffa1;
  color: #24053e;
  cursor: pointer;
  transition-duration: 0.5s;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #44ffa1;
  font-weight: bold;
}
#slogan #learn-btn:hover {
  color: #44ffa1;
  background-color: #24053e;
}
#image-container {
  position: relative;
  margin-top: 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#image-container .custom-shape-divider-bottom-1688220562 {
  position: absolute;
  bottom: 39.5%;
  left: -20%;
  width: 120%;
  overflow: hidden;
  line-height: 0;
}
#image-container .custom-shape-divider-bottom-1688220562 svg {
  position: relative;
  display: block;
  width: 120%;
  height: 95px;
}
#image-container .custom-shape-divider-bottom-1688220562 .shape-fill {
  fill: #fcf8ff;
}
#image-container .divider-spacer {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  background: #fcf8ff;
}
#image-container #hero-img {
  padding-left: 10px;
  z-index: 10;
  width: 250px;
}
@media (min-width: 350px) {
  #image-container #hero-img {
    width: 320px;
  }
}
@media (min-width: 768px) {
  #image-container #hero-img {
    width: 500px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  #image-container #hero-img {
    width: 770px;
    padding-left: 20px;
  }
}
#body-container {
  background-color: #fcf8ff;
  padding-top: 40px;
  color: #24053e;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 993px) {
  #body-container {
    align-items: flex-start;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
  }
}
#body-container .part-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  flex-direction: column;
  max-width: 300px;
}
@media (min-width: 500px) and (max-width: 992px) {
  #body-container .part-wrapper {
    max-width: 700px;
    flex-direction: row;
  }
}
#body-container .number-part {
  font-family: 'Fraunces', sans-serif;
  font-size: clamp(20px, 3vw, 32px);
  line-height: 1.8;
  font-weight: 600;
  flex: 0 0 calc(clamp(20px, 3vw, 32px) * 2);
  width: calc(clamp(20px, 3vw, 32px) * 2);
  height: calc(clamp(20px, 3vw, 32px) * 2);
  border-radius: 50%;
  text-align: center;
  border: 2px solid #24053e;
}
@media (min-width: 500px) and (max-width: 992px) {
  #body-container .number-part {
    align-self: flex-start;
    margin-top: 60px;
  }
}
#body-container .letter-part {
  text-align: center;
}
#body-container .letter-part h2 {
  font-family: 'Fraunces', sans-serif;
  font-size: clamp(20px, 3vw, 32px);
  line-height: 1.8;
  font-weight: 600;
  font-size: clamp(20px, 2.7vw, 32px);
}
#body-container .letter-part p {
  font-family: 'Manrope', sans-serif;
  font-size: clamp(16px, 1vw, 18px);
  line-height: 1.6;
  font-weight: 500;
}
@media (min-width: 500px) and (max-width: 992px) {
  #body-container .letter-part {
    padding-left: 5vw;
    text-align: left;
  }
}
